{{ 'express-checkout.css' | asset_url | stylesheet_tag }}

<div id="yc-sticky-checkout" class="yc-sticky-checkout">
  <div id="checkout_step">
    {% render 'product-card' %}
    <div class="checkout-form"></div>


    <div class="cta-bottom-wrapper">
      <button
        type='submit'
        class='yc-btn w-full express-checkout-button'
        onclick='placeOrder(this)'>
        <span class='spinner hidden' id='loading__checkout'></span>
        <span>{{ settings.express_checkout_cta }}</span>
      </button>
    </div>
</div>
