.yc-featured-collections .yc-featured-container {
  display: flex;
  column-gap: 2px;
  align-items: center;
}
.yc-featured-collections .yc-featured-container img {
  width: 24px;
  height: 24px;
}
.yc-featured-collections .yc-featured-container .yc-section-title {
  font-size: 26px;
  margin: 0;
}
.yc-featured-collections .collections-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
@media (min-width: 768px) {
  .yc-featured-collections .collections-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 992px) {
  .yc-featured-collections .collections-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
.yc-featured-collections .collections-list .collection-block {
  overflow: hidden;
  border: 1px solid #E6E6E6;
  border-radius: 6px;
}
.yc-featured-collections .collections-list .collection-block .collection-thumbnail img {
  width: 260px;
  height: 190px;
}
.yc-featured-collections .collections-list .collection-block .collection-details {
  padding: 20px;
  text-align: center;
}
