/**
  * Display Grid
  * @param {number} $desktop - Number of columns on desktop
  * @param {number} $tablet - Number of columns on tablet
  * @param {number} $mobile - Number of columns on mobile
  * @param {string} $gap - Gap between columns
  * @example
  * .product-list {
  *   @include display(4, 3, 2, 1rem);
  * }
  */
.yc-general-review {
  display: none;
}
.yc-general-review .yc-general-review-wrapper {
  display: flex;
  gap: 6px;
}
.yc-general-review .yc-general-review-wrapper .general-count {
  font-weight: 400;
  font-size: 13px;
  color: #707070;
}
