.yc-product-reviews {
  margin-bottom: 80px;
  max-width: 904px;
}
.yc-product-reviews .head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 24px;
}
.yc-product-reviews .head .yc-section-title {
  text-align: unset;
  margin: unset;
  font-size: 18px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .yc-product-reviews .head .yc-section-title {
    font-size: 32px;
  }
}
.yc-product-reviews .yc-reviews-wrapper {
  display: grid;
  column-gap: 32px;
  row-gap: 20px;
}
@media (min-width: 768px) {
  .yc-product-reviews .yc-reviews-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
.yc-product-reviews .yc-reviews-wrapper .review-item {
  border-radius: 5px;
  background-color: #F6F9FF;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.yc-product-reviews .yc-reviews-wrapper .review-item .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.yc-product-reviews .yc-reviews-wrapper .review-item .header .profil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.yc-product-reviews .yc-reviews-wrapper .review-item .header .profil .image {
  width: 49px;
  height: 49px;
  border-radius: 5px;
  aspect-ratio: 1/1;
  object-fit: contain;
}
.yc-product-reviews .yc-reviews-wrapper .review-item .header .profil .info {
  display: grid;
  gap: 8px;
}
.yc-product-reviews .yc-reviews-wrapper .review-item .header .profil .info .name {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
}
.yc-product-reviews .yc-reviews-wrapper .review-item .content > * {
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
@media (min-width: 768px) {
  .yc-product-reviews .yc-reviews-wrapper .review-item .content > * {
    font-size: 16px;
  }
}
.yc-product-reviews .yc-reviews-wrapper .review-item .created-at-date {
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: #9B9B9B;
}
.yc-product-reviews .reviews-block {
  display: flex;
  margin: 0;
  gap: 8px;
  align-items: center;
}
.yc-product-reviews .review-count {
  font-weight: 400;
  font-size: 13px;
  color: #707070;
}
.yc-product-reviews #show-more {
  display: none;
  margin: 32px auto 0 auto;
  width: auto;
  padding: 14px 10px;
  font-size: 14px;
  font-weight: 400;
  color: #9B9B9B;
  border-radius: 5px;
  border: 1px solid #E6E6E6;
}
