.thankyou-page-container {
  max-width: 440px;
  width: 100%;
  margin: 10px auto 80px;
}
@media screen and (max-width: 768px) {
  .thankyou-page-container {
    padding: 0 16px;
  }
}
.thankyou-page-container .thankyou-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.thankyou-page-container .thankyou-wrapper .content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .thankyou-page-container .thankyou-wrapper .content-wrapper {
    margin-top: 100px;
    margin-bottom: 80px;
  }
}
.thankyou-page-container .thankyou-wrapper .content-wrapper .heading {
  line-height: 32px;
}
.thankyou-page-container .thankyou-wrapper .content-wrapper .heading .title {
  display: block;
  font-size: 20px;
}
@media (min-width: 768px) {
  .thankyou-page-container .thankyou-wrapper .content-wrapper .heading .title {
    font-size: 24px;
  }
}
.thankyou-page-container .thankyou-wrapper .content-wrapper .description {
  font-size: 12px;
  margin-top: 11px;
  text-align: center;
  font-weight: 400;
  line-height: 150%;
}
@media (min-width: 768px) {
  .thankyou-page-container .thankyou-wrapper .content-wrapper .description {
    font-size: 18px;
  }
}
.thankyou-page-container .cart-result-section .title {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
  text-align: center;
}
@media (min-width: 768px) {
  .thankyou-page-container .cart-result-section .title {
    font-size: 24px;
  }
}
.thankyou-page-container .cart-result-section .cart-items {
  border: 1px solid #E6E6E6;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
}
.thankyou-page-container .cart-result-section .cart-items .product-list {
  display: grid;
  gap: 10px;
  padding: 16px;
  max-height: 200px;
  overflow-y: scroll;
}
@media (min-width: 768px) {
  .thankyou-page-container .cart-result-section .cart-items .product-list {
    gap: 16px;
    padding: 24px;
  }
}
.thankyou-page-container .cart-result-section .cart-items .product-list .product-item {
  display: flex;
  gap: 20px;
}
@media (min-width: 768px) {
  .thankyou-page-container .cart-result-section .cart-items .product-list .product-item {
    gap: 30px;
  }
}
.thankyou-page-container .cart-result-section .cart-items .product-list .product-item .product-image {
  width: 66px;
  height: 62px;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  object-fit: contain;
}
@media (min-width: 768px) {
  .thankyou-page-container .cart-result-section .cart-items .product-list .product-item .product-image {
    width: 97px;
  }
}
.thankyou-page-container .cart-result-section .cart-items .product-list .product-item .product-details * {
  font-weight: 400;
  line-height: normal;
}
.thankyou-page-container .cart-result-section .cart-items .product-list .product-item .product-details .product-name {
  display: block;
  color: var(--yc-primary-color);
  font-size: 12px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .thankyou-page-container .cart-result-section .cart-items .product-list .product-item .product-details .product-name {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
.thankyou-page-container .cart-result-section .cart-items .product-list .product-item .product-details .product-variations {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  font-size: 10px;
  color: #757575;
}
@media (min-width: 768px) {
  .thankyou-page-container .cart-result-section .cart-items .product-list .product-item .product-details .product-variations {
    gap: 12px;
    font-size: 14px;
  }
}
.thankyou-page-container .cart-result-section .cart-items .product-list .product-item .product-details .product-price {
  display: block;
  color: var(--yc-primary-color);
  font-size: 12px;
  margin-top: 5px;
}
@media (min-width: 768px) {
  .thankyou-page-container .cart-result-section .cart-items .product-list .product-item .product-details .product-price {
    margin-top: 8px;
    font-size: 16px;
  }
}
.thankyou-page-container .cart-result-section .order-details {
  border: 1px solid #E6E6E6;
  padding: 24px 28px;
  border-radius: 0 0 4px 4px;
}
.thankyou-page-container .cart-result-section .order-details h2 {
  font-weight: 600;
  line-height: 22px;
  color: #000000;
  font-weight: 700;
}
.thankyou-page-container .cart-result-section .order-details .table-content .head {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}
.thankyou-page-container .cart-result-section .order-details .table-content .head .item {
  font-weight: 400;
  font-size: 14px;
}
.thankyou-page-container .cart-result-section .order-details .table-content .head .data-item,
.thankyou-page-container .cart-result-section .order-details .table-content .head .data-item > * {
  font-weight: 700;
  font-size: 14px;
}
.thankyou-page-container .cart-result-section .order-details .table-content .head .coupon-head .data-item {
  display: flex;
  gap: 4px;
}
.thankyou-page-container .cart-result-section .order-details .table-content .total-price-head {
  display: flex;
  margin-top: 20px;
  padding-top: 15px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #EBEBEB;
}
.thankyou-page-container .cart-result-section .order-details .table-content .total-price-head .item {
  font-weight: 700;
  line-height: 22px;
}
.thankyou-page-container .cart-result-section .order-details .table-content .total-price-head .data-item {
  font-weight: 700;
  font-size: 16px;
  color: var(--yc-primary-color);
}
.thankyou-page-container .home-page {
  margin-top: 50px;
}
