.upsell-page {
  --max-width: 1124px;
  display: grid;
  place-items: center;
  text-align: center;
  background-color: #F7F7F7;
}
.upsell-page .upsell-container {
  width: 100%;
  position: relative;
}
.upsell-page .upsell-container #upsell-form {
  position: sticky;
  bottom: 0;
}
.upsell-page .upsell-content {
  margin: 0 auto;
  padding: 42px;
  max-width: var(--max-width);
}
.upsell-page .upsell-content img {
  margin: auto;
}
.upsell-page .upsell-content h1 {
  font-weight: 500;
  color: #333333;
  line-height: 29px;
  font-size: 24px;
}
.upsell-page .upsell-content h2 {
  font-size: 20px;
  line-height: 22px;
}
.upsell-page .upsell-content p {
  color: #333333;
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
}
@media (max-width: 768px) {
  .upsell-page .upsell-content {
    padding: 16px;
  }
}
.upsell-page .upsell-form-submit {
  box-shadow: 0px -10px 10px 0px rgba(0, 0, 0, 0.0274509804);
  padding: 42px;
  background-color: #fff;
}
.upsell-page .upsell-form-submit .upsell-form-submit-content {
  display: flex;
  max-width: var(--max-width);
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.upsell-page .upsell-form-submit .upsell-form-submit-content .upsell-submit-yes,
.upsell-page .upsell-form-submit .upsell-form-submit-content .upsell-submit-no {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  padding: 16px 18px;
  border-radius: 5px;
}
.upsell-page .upsell-form-submit .upsell-form-submit-content .upsell-submit-no {
  border-width: 1px;
  border-style: solid;
}
.upsell-page .upsell-form-submit .upsell-form-submit-content .text-small {
  font-size: 15px;
}
.upsell-page .upsell-form-submit .upsell-form-submit-content .text-medium {
  font-size: 19px;
}
.upsell-page .upsell-form-submit .upsell-form-submit-content .text-large {
  font-size: 22px;
}
.upsell-page .upsell-form-submit .upsell-form-submit-content .size-small {
  width: 50%;
}
.upsell-page .upsell-form-submit .upsell-form-submit-content .size-medium {
  width: 70%;
}
.upsell-page .upsell-form-submit .upsell-form-submit-content .size-large {
  width: 100%;
}
@media (max-width: 520px) {
  .upsell-page .upsell-form-submit .upsell-form-submit-content {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .upsell-page .upsell-form-submit {
    padding: 24px;
  }
}
