@import 'helpers/mixins';

.yc-featured-collections {
  .yc-featured-container {
    display: flex;
    column-gap: 2px;
    align-items: center;

    img {
      width: 24px;
      height: 24px;
    }

    .yc-section-title {
      font-size: 26px;
      margin: 0;
    }
  }

  .collections-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    @include breakpoint('md') {
      grid-template-columns: repeat(3, 1fr);
    }

    @include breakpoint('lg') {
      grid-template-columns: repeat(4, 1fr);
    }

    .collection-block {
      overflow: hidden;
      border: 1px solid #E6E6E6;
      border-radius: 6px;

      .collection-thumbnail {
        img {
          width: 260px;
          height: 190px;
        }
      }

      .collection-details {
        padding: 20px;
        text-align: center;
      }
    }
  }
}
