@import 'helpers/mixins';

.yc-featured-products-by-category {

    .product-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;

        @include breakpoint('md') {
            grid-template-columns: repeat(3, 1fr);
        }

        @include breakpoint('lg') {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}