@import 'helpers/mixins';
@import 'countdown';

.yc-featured-products {
  padding: 5px 0;
  .counter-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;

    .yc-section-title {
      margin: 0;
      font-size: 26px;
      font-weight: 600;
      text-align: start;

      @include max-screen('md') {
        font-size: 18px;
      }
    }
  }

  .splide {
    padding: 37px 0 5rem 0;

    .splide__pagination__page {
      background-color: var(--yc-primary-color);
      opacity: 0.3;

      &.is-active {
        background-color: var(--yc-primary-color);
        opacity: 1;
      }
    }
  }

  .product-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: center;
    overflow: hidden;
    align-items: stretch;

    @include breakpoint('md') {
      grid-template-columns: repeat(3, 1fr);
    }
    @include breakpoint('lg') {
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }

    @include breakpoint('xl') {
      grid-template-columns: repeat(4, 1fr);
    }

    .product-block {
      text-align: center;
      color: var(--yc-neutral-color);
      display: flex;
      flex-direction: column;
      position: relative;
      border: 1px solid #E7E7E7;
      border-radius: 4px;

      .product-thumbnail {
        border-radius: 3px;
        position: relative;
        overflow: hidden;
        padding: 0 0 100%;
        height: 0;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          height: 100%;
          transform: translate(-50%,-50%);
          transition: transform .25s ease;

          &:hover {
            transform: translate(-50%,-50%) scale(1.1);
          }
        }
      }

      .product-details {
        padding: 0 16px 24px;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 8px;
        margin-top: 12px;
        text-align: center;

        .product-title {
          font-size: 15px;
          line-height: 120%;
          font-weight: 400;
          font-size: 16px;

          @include breakpoint('md') {
            font-weight: 300;
            font-size: 16px;
          }
        }
      }

      &:hover {
        .yc-btn {
          opacity: 1;
        }
      }

      .yc-btn {
        display: block;
        position: absolute;
        bottom: 117px;
        width: 80%;
        opacity: 0;
        border-radius: 4px;
      }

      .prices {
        display: flex;
        justify-content: center;
        gap: 7px;
        margin: 12px auto 0;
        padding: 0 6px 6px;
        align-items: center;

        @include breakpoint('md') {
          margin: 8px auto 15px;
          gap: 10px;
        }

        @include breakpoint('lg') {
          flex-direction: row;
          justify-content: center;
        }

        .product-price {
          font-weight: 600;
          color: var(--yc-primary-color);
          font-size: 17px;
          line-height: 120%;

          @include breakpoint('md') {
            font-size: 20px;
          }
        }

        .compare-at-price {
          text-decoration: line-through;
          font-size: 18px;
          font-weight: 300;
          color: #9B9B9B;
        }

        .product-thumbnail:hover img {
          transform: scale(1.1);
        }
      }

      .product-btn {
        display: flex;
        justify-content: center;
      }
    }
  }

  .button-container {
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin: 20px auto;

    a {
      padding: 14px 22px;
      min-width: 145px;
      border: 1px solid #E6E6E6;
      border-radius: 5px;
      font-size: 14px;
      font-weight: 400;
      color: #9B9B9B;
    }

    @include breakpoint('md') {
      margin-top: 32px;
    }
  }
}
