@import 'helpers/mixins';

.yc-notice {
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  background-color: var(--yc-notice-background-color);
  height: var(--yc-notice-height);

  .content {
    display: flex;
    align-items: center;
    padding: 8px 0 10px 0;
    justify-content: center;
    column-gap: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--yc-notice-text-color);
    font-size: var(--yc-notice-font-size);
    text-align: center;

    img {
      height: 17px;
      width: 18px;
    }
  }
}
