@import 'helpers/mixins';

.thankyou-page-container {
  max-width: 440px;
  width: 100%;
  margin: 10px auto 80px;

  @media screen and (max-width: 768px) {
    padding: 0 16px;
  }

  .thankyou-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .content-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 32px;
      margin-bottom: 32px;

      @include breakpoint('md') {
        margin-top: 100px;
        margin-bottom: 80px;
      }

      .heading {
        line-height: 32px;

        .title {
          display: block;
          font-size: 20px;

          @include breakpoint('md') {
            font-size: 24px;
          }
        }
      }

      .description {
        font-size: 12px;
        margin-top: 11px;
        text-align: center;
        font-weight: 400;
        line-height: 150%;

        @include breakpoint('md') {
          font-size: 18px;
        }
      }

    }
  }

  .cart-result-section {
    .title {
      font-size: 16px;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 16px;
      text-align: center;

      @include breakpoint('md') {
        font-size: 24px;
      }
    }

    .cart-items {
      border: 1px solid #E6E6E6;
      border-bottom: none;
      border-radius: 4px 4px 0 0;

      .product-list {
        display: grid;
        gap: 10px;
        padding: 16px;
        max-height: 200px;
        overflow-y: scroll;

        @include breakpoint('md') {
          gap: 16px;
          padding: 24px;
        }

        .product-item {
          display: flex;
          gap: 20px;

          @include breakpoint('md') {
            gap: 30px;
          }

          .product-image {
            width: 66px;
            height: 62px;
            border: 1px solid #E6E6E6;
            border-radius: 5px;
            object-fit: contain;

            @include breakpoint('md') {
              width: 97px;
            }
          }

          .product-details {
            & * {
              font-weight: 400;
              line-height: normal;
            }

            .product-name {
              display: block;
              color: var(--yc-primary-color);
              font-size: 12px;
              margin-bottom: 10px;

              @include breakpoint('md') {
                font-size: 16px;
                margin-bottom: 10px;
              }
            }

            .product-variations {
              display: flex;
              flex-wrap: wrap;
              gap: 8px;
              font-size: 10px;
              color: #757575;

              @include breakpoint('md') {
                gap: 12px;
                font-size: 14px;
              }
            }

            .product-price {
              display: block;
              color: var(--yc-primary-color);
              font-size: 12px;
              margin-top: 5px;


              @include breakpoint('md') {
                margin-top: 8px;
                font-size: 16px;
              }
            }
          }
        }
      }
    }

    .order-details {
      border: 1px solid #E6E6E6;
      padding: 24px 28px;
      border-radius: 0 0 4px 4px;

      h2 {
        font-weight: 600;
        line-height: 22px;
        color: #000000;
        font-weight: 700;
      }

      .table-content {
        .head {
          display: flex;
          margin-top: 15px;
          justify-content: space-between;
          align-items: center;

          .item {
            font-weight: 400;
            font-size: 14px;
          }

          .data-item,
          .data-item>* {
            font-weight: 700;
            font-size: 14px;
          }

          .coupon-head .data-item {
            display: flex;
            gap: 4px;
          }
        }

        .total-price-head {
          display: flex;
          margin-top: 20px;
          padding-top: 15px;
          justify-content: space-between;
          align-items: center;
          border-top: 1px solid #EBEBEB;

          .item {
            font-weight: 700;
            line-height: 22px;
          }

          .data-item {
            font-weight: 700;
            font-size: 16px;
            color: var(--yc-primary-color);
          }
        }
      }
    }
  }

  .home-page {
    margin-top: 50px;
  }
}
